<a href="https://colab.research.google.com/github/MingyuKIM615/BaekJoon/blob/master/%EA%B8%B0%EB%B3%B8_%EC%88%98%ED%95%991.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 손익분기점(1712)

In [11]:
A, B, C = map(int, input().split())

if B >= C:
  print(-1)
else:
  cnt = int(A / (C-B))
  print(cnt)

1000 70 170
11

# 벌집(2292)

In [18]:
N = int(input())
i = 0
j = 1
while True:
  j += 6*i
  if N <= j:
    print(i+1)
    break
  i+=1

1
1