<a href="https://colab.research.google.com/github/MingyuKIM615/BaekJoon/blob/master/%EA%B8%B0%EB%B3%B8_%EC%88%98%ED%95%991.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 손익분기점(1712)

In [ ]:
A, B, C = map(int, input().split())

if B >= C:
  print(-1)
else:
  cnt = int(A / (C-B))
  print(cnt)

1000 70 170
11

# 벌집(2292)

In [ ]:
N = int(input())
i = 0
j = 1
while True:
  j += 6*i
  if N <= j:
    print(i+1)
    break
  i+=1

1
1

# 달팽이는 올라가고 싶다(2869)

In [8]:
import math
A, B, C = map(int, input().split())

day = math.ceil((C - A) / (A - B)) + 1

print(day)

100 99 1000000000
999999901

# ACM 호텔(10250)

In [24]:
T = int(input())

for i in range(T):
  H, W, N = map(int, input().split())
  k = 0
  l = 0
  if N % H == 0:
    l = H
    k = int(N / H)
  else:
    l = N % H
    k = int(N / H) + 1
  roomNumber = l * 100 + k
  print(roomNumber)

2
6 12 12
602
6 12 13
103