<a href="https://colab.research.google.com/github/MingyuKIM615/BaekJoon/blob/master/%EB%AC%B8%EC%9E%90%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 아스키 코드(11654)

In [11]:
N = input()

print(ord(N))

A
65

# 숫자의 연합(11720)

In [15]:
N1 = int(input())
N2 = input()

sum = 0
for i in N2:
  sum += int(i)

print(sum)

11
10987654321
46

# 알파벳 찾기(10809)

In [38]:
S = input()

S = S.lower()
result = {}
for i in range(97, 123):
  result[chr(i)] = -1
for j in range(len(S)):
  if result[S[j]] == -1:
    result[S[j]] = j

for k, v in result.items():
  if k == 'z':
    print(v)  
  else:
    print(v, end=' ')

baekjoon
1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

# 문자열 반복(2675)

In [39]:
T = int(input())

for _ in range(T):
  R, S = input().split()
  R = int(R)
  for j in S:
    for _ in range(R):
      print(j, end='')

  print()

2
3 ABC
AAABBBCCC
5 /HTP
/////HHHHHTTTTTPPPPP

# 단어 공부(1157)

In [6]:
S = input()

S = S.upper()

result = {}

for i in S:
  try:
    result[i] +=1
  except:
    result[i] =1

m = max(result.values())

ans = ''
for k, v in result.items():
  if v == m:
    ans += k

if len(ans) >1:
  print('?')
else:
  print(ans)

Mississipi
?

# 단어의 개수(1152)

In [7]:
list_word = list(input().split())

print(len(list_word))

The Curious Case of Benjamin Button
6

# 상수(2908)

In [12]:
list_number = list(input().split())
A = ''
B = ''

for i in range(len(list_number)):
  k = list_number[i]
  for j in range(len(k)-1,-1,-1):
    if i == 0:
      A += k[j]
    else:
      B += k[j]

A = int(A)
B = int(B)
if A > B:
  print(A)
else:
  print(B)

839 237
938

# 다이얼(5622)

In [17]:
D = input()

time = 0

for i in D:
  if ord(i) >= 65 and ord(i) <= 67:
    time += 3
  elif ord(i) >= 68 and ord(i) <= 70:
    time += 4
  elif ord(i) >= 71 and ord(i) <= 73:
    time += 5
  elif ord(i) >= 74 and ord(i) <= 76:
    time += 6
  elif ord(i) >= 77 and ord(i) <= 79:
    time += 7
  elif ord(i) >= 80 and ord(i) <= 83:
    time += 8
  elif ord(i) >= 84 and ord(i) <= 86:
    time += 9
  elif ord(i) >= 87 and ord(i) <= 90:
    time += 10
print(time)

UNUCIC
36

# 크로아티아 알파벳(2941)

In [66]:
S = input()

c = ['c=', 'c-', 'dz=', 'd-', 'lj','nj','s=', 'z=']

for i in c:
  S = S.replace(i, 't')
print(len(S))

ljes=njak
6

# 그룹 단어 체커(1316)

In [73]:
N = int(input())

cnt = 0

for _ in range(N):
  word = input()
  for i in range(len(word)):
    if i < len(word)-1:
      if word[i] == word[i+1]:
        pass
      elif word[i] in word[i+1:]:
        break
    else:
      cnt+=1

print(cnt)

2
aba
bvb
0

In [76]:
for i in range(5):
  if True:
    for k in range(3):
      if k == 2:
        break
      print(k)

0
1
0
1
0
1
0
1
0
1