<a href="https://colab.research.google.com/github/MingyuKIM615/BackJoon/blob/master/%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 구구단(2739)

In [1]:
n = int(input())

for i in range(1,10):
    print(f'{n} * {i} = {n*i}')

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

# A+B - 3(10950)

In [4]:
T = int(input())

for i in range(T):
  A, B = input().split()
  A = int(A)
  B = int(B)

  print(A + B)

5
1 1
2
2 3
5
3 4
7
9 8
17
5 2
7

# 합(8393)

In [7]:
n = int(input())
sum = 0
for i in range(1, n+1):
  sum +=i
print(sum)

3
6