<a href="https://colab.research.google.com/github/MingyuKIM615/BaekJoon/blob/master/%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 구구단(2739)

In [ ]:
n = int(input())

for i in range(1,10):
    print(f'{n} * {i} = {n*i}')

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

# A+B - 3(10950)

In [ ]:
T = int(input())

for i in range(T):
  A, B = input().split()
  A = int(A)
  B = int(B)

  print(A + B)

5
1 1
2
2 3
5
3 4
7
9 8
17
5 2
7

# 합(8393)

In [ ]:
n = int(input())
sum = 0
for i in range(1, n+1):
  sum +=i
print(sum)

3
6

# 빠른 A+B(15552)

In [ ]:
import sys

T = int(input())

for i in range(T):
  A, B = map(int, sys.stdin.readline().split())
  print(A + B)

5

ValueError: ignored

# N 찍기(2741)

In [ ]:
N = int(input())

for i in range(1,N+1):
  print(i)

5
1
2
3
4
5

# 기찍 N(2742)

In [9]:
N = int(input())

for i in range(N):
  print(N)
  N -=1

5
5
4
3
2
1

# A+B - 7(11021)

In [10]:
T = int(input())

for i in range(1, T + 1):
  a, b = map(int, input().split())
  print(f'Case #{i}: {a+b}')

5
1 1
Case #1: 2
2 2
Case #2: 4
3 4
Case #3: 7
9 8
Case #4: 17
5 2
Case #5: 7

# A+B - 8(11022)

In [11]:
T = int(input())

for i in range(1, T + 1):
  a, b = map(int, input().split())
  print(f'Case #{i}: {a} + {b} = {a+b}')

5
1 1
Case #1: 1 + 1 = 2
2 3
Case #2: 2 + 3 = 5
3 4
Case #3: 3 + 4 = 7
9 8
Case #4: 9 + 8 = 17
5 2
Case #5: 5 + 2 = 7

# 별 찍기 - 1(2438)

In [12]:
N = int(input())

for i in range(1, N+1):
  s = '*'*i
  print(s)

5
*
**
***
****
*****

# 별 찍기 - 2(2439)

In [15]:
N = int(input())

for i in range(1, N+1):
  space = ' '*(N-i)
  star = '*'*i
  print(space+star)

3
  *
 **
***

# X보다 작은 수(10871)

In [29]:
N, X = map(int, input().split())

A = input()
num_list = []
num_list.extend(A.split())

low_number = ''

for i in num_list:
  if int(i)<X:
    low_number += i
    low_number += ' '

low_number = low_number.strip()

print(low_number)

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3

# A+B - 5(10952)

In [30]:
while True:
  A, B = map(int, input().split())
  if A == 0 and B == 0:
    break;
  print(A + B)

1 1
2
2 3
5
3 4
7
9 8
17
5 2
7
0 0

# A+B - 4(10951)

In [ ]:
while True:
    try:
        A, B = map(int, input().split())
        print(A + B)
    except:
        break

# 더하기 사이클(1110)

In [35]:
N = int(input())

cnt = 1
num = 0

if N <10:
    num = N * 10 + N
else: 
    num = (N%10)*10 + (int(N/10) + N%10)%10

while True:
  if N == num:
    break
  if num < 10:
    num = num * 10 + num
  else: 
    num = (num%10)*10 + (int(num/10) + num%10)%10
  

  cnt+=1


print(cnt)

26
4