<a href="https://colab.research.google.com/github/MingyuKIM615/BaekJoon/blob/master/%ED%8C%8C%EC%9D%B4%EC%8D%AC/1%EC%B0%A8%EC%9B%90_%EB%B0%B0%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 10807. 개수 세기
* 총 N개의 정수가 주어졌을 때, 정수 v가 몇 개인지 구하는 프로그램을 작성하시오.

In [ ]:
N = int(input())

lst = list(input().split())

v = input()

cont = 0
for i in lst:
  if i == v:
    cont +=1

print(cont)

11
1 4 1 2 4 2 4 2 3 4 4
5
0

In [ ]:
# 파이썬적 사고.. count 이용하기!
a = int(input())
arr = list(map(int,input().split()))
n = int(input())
print(arr.count(n)) # count 리스트를 읽어서 몇개인지 알려줌

# 10871. X보다 작은 수

In [ ]:
N, X = map(int, input().split())
arr = list(input().split())

outMsg ="";

for i in arr:
  if int(i)<X:
    outMsg = outMsg + " " + i
print(outMsg.strip()) # strip() -> 양쪽 공백 제거

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3

In [ ]:
n, x = map(int, input().split())
answer = ' '.join([i for i in input().split() if int(i) < x])
# join : '구분자'.join(리스트) 예) ['a','b','c'] => 'abc' (리스트를 문자열로 합쳐서 변환)

print(answer, end='')
# sep : 기본값으로 공백이 들어가 있으며 출력문들 사이에 해당하는 내용을 넣을 수 있다.
# end : 기본값으로 개행(\n)이 들어가 있으며 출력을 완료한 뒤의 내용을 수정

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3

# 10818. 최소, 최대

In [4]:
N = input()
arr = list(map(int, input().split()))

print(min(arr), max(arr))

5
20 10 35 30 7
7 35

# 10810. 공 넣기

In [18]:
N, M = map(int, input().split())

lis = list(0 for _ in range(0, N)) # 리스트 N개의 0으로 초기화

for _ in range(0, M):
  arr = list(map(int, input().split()))
  for i in range(arr[0]-1, arr[1]): # 리스트는 0부터 시작이므로 -1
    lis[i]=arr[2]

print(' '.join(str(i) for i in lis))

 5 4
1 2 3
3 4 4
1 4 1
2 2 2

TypeError: ignored

In [22]:
# 다른 사람 풀이..
n,m,*a=map(int,open(0).read().split())
b=[0]*n
for x in range(m):
  i,j,k=a[3*x:3*x+3];
  b[i-1:j]=[k]*(j-i+1)
print(*b)

1 2 3

In [28]:
b=[0]*5
print(b)

[0, 0, 0, 0, 0]