<a href="https://colab.research.google.com/github/MingyuKIM615/BaekJoon/blob/master/%ED%8C%8C%EC%9D%B4%EC%8D%AC/%EC%9E%85%EC%B6%9C%EB%A0%A5%EA%B3%BC_%EC%82%AC%EC%B9%99%EC%97%B0%EC%82%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2557. Hellow World!를 출력하시오.

In [ ]:
print('Hello World!');

Hello World!

# 1000. 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

In [ ]:
a, b = map(int, input().split())
print(a + b)

1 2
3

In [ ]:
# input() 사용법
a= input()
print(a, type(a))

# input() 실행시 입력란이 나오고 값을 넣으면 str로 저장된다.

123 4565
123 4565 <class 'str'>

In [ ]:
# split() 사용법
a = "123 456"
b, c = a.split() # 원래는 list로 저장되지만 "b, c="로 하면 각 리스트의 자리수에 해당하는 값을 세팅해준다.
print(b, type(b))
print(c, type(c))

# split()은 문자에서 띄어쓰기일때 짤라주며 문자로 저장된다.

123 <class 'str'>
456 <class 'str'>

In [ ]:
a = "123 456 789".split() # 리스트로 세팅!
print(list(a), type(a))

['123', '456', '789'] <class 'list'>

In [ ]:
# map 함수
## map(function, iterable)
## function: 각 요소에 적용할 함수입니다.
## iterable: 함수를 적용할 데이터 집합입니다.

a = map(int, [1.1,2.2,3.3])
print(list(a))

[1, 2, 3]