<a href="https://colab.research.google.com/github/MingyuKIM615/BaekJoon/blob/master/%ED%8C%8C%EC%9D%B4%EC%8D%AC/%EC%9E%85%EC%B6%9C%EB%A0%A5%EA%B3%BC_%EC%82%AC%EC%B9%99%EC%97%B0%EC%82%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2557. Hellow World!를 출력하시오.

In [ ]:
print('Hello World!');

Hello World!

# 1000. 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

In [ ]:
a, b = map(int, input().split())
print(a + b)

1 2
3

In [ ]:
# input() 사용법
a= input()
print(a, type(a))

# input() 실행시 입력란이 나오고 값을 넣으면 str로 저장된다.

123 4565
123 4565 <class 'str'>

In [ ]:
# split() 사용법
a = "123 456"
b, c = a.split() # 원래는 list로 저장되지만 "b, c="로 하면 각 리스트의 자리수에 해당하는 값을 세팅해준다.
print(b, type(b))
print(c, type(c))

# split()은 문자에서 띄어쓰기일때 짤라주며 문자로 저장된다.

123 <class 'str'>
456 <class 'str'>

In [ ]:
a = "123 456 789".split() # 리스트로 세팅!
print(list(a), type(a))

['123', '456', '789'] <class 'list'>

In [ ]:
# map 함수
## map(function, iterable)
## function: 각 요소에 적용할 함수입니다.
## iterable: 함수를 적용할 데이터 집합입니다.

a = map(int, [1.1,2.2,3.3])
print(list(a))

[1, 2, 3]

# 1001. 두 정수 A와 B를 입력받은 다음, A-B를 출력하는 프로그램을 작성하시오.

In [ ]:
a, b = map(int, input().split())
print(a - b)

3 4
-1

# 10998. 두 정수 A와 B를 입력받은 다음, A×B를 출력하는 프로그램을 작성하시오.

In [ ]:
a, b = map(int, input().split())
print(a * b)

2 3
6

# 1008. 두 정수 A와 B를 입력받은 다음, A/B를 출력하는 프로그램을 작성하시오.

In [ ]:
a, b = map(int, input().split())
print(a / b)

4 5
0.8

# 10869. 두 자연수 A와 B가 주어진다. 이때, A+B, A-B, A*B, A/B(몫), A%B(나머지)를 출력하는 프로그램을 작성하시오.

In [ ]:
a, b = map(int, input().split())
print(a+b)
print(a-b)
print(a*b)
print(a//b) # a // b -> 몫
print(a%b)

7 3
10
4
21
2
1

# 10926. 준하는 사이트에 회원가입을 하다가 joonas라는 아이디가 이미 존재하는 것을 보고 놀랐다. 준하는 놀람을 ??!로 표현한다. 준하가 가입하려고 하는 사이트에 이미 존재하는 아이디가 주어졌을 때, 놀람을 표현하는 프로그램을 작성하시오.

In [ ]:
print(input()+"??!")

joonas
joonas??!

ICPC Bangkok Regional에 참가하기 위해 수완나품 국제공항에 막 도착한 팀 레드시프트 일행은 눈을 믿을 수 없었다. 공항의 대형 스크린에 올해가 2562년이라고 적혀 있던 것이었다.

불교 국가인 태국은 불멸기원(佛滅紀元), 즉 석가모니가 열반한 해를 기준으로 연도를 세는 불기를 사용한다. 반면, 우리나라는 서기 연도를 사용하고 있다.
# 18108. 불기 연도가 주어질 때 이를 서기 연도로 바꿔 주는 프로그램을 작성하시오.

In [ ]:
# 서기년도 : 예수그리스도가 태어난 해를 기원으로 하는 것이 서기
# 불기년도 : 서기 + 544, 석가모니가 입멸한 해를 기원으로 하는 것이 불기
# 단기년도 : 서기 + 2333, 단군이 개국하여 왕위에 오른 해를 기원으로 하는 것이 단기
# 공기년도 : 서기 + 551, 공자가 태어난 해를 기원으로 하는 것이 공기

print(int(input()) - 543)

2541
1998

#세 수 A, B, C가 주어졌을 때, 위의 네 가지 값을 구하는 프로그램을 작성하시오.
* 첫째 줄에 (A+B)%C,
* 둘째 줄에 ((A%C) + (B%C))%C,
* 셋째 줄에 (A×B)%C,
* 넷째 줄에 ((A%C) × (B%C))%C를 출력한다.

In [13]:
a, b, c = map(int, input().split())
print((a+b)%c)
print(((a%c)+(b%c))%c)
print((a*b)%c)
print(((a%c)*(b%c))%c)

5 8 4
1
1
0
0

#2588. 곱셈

In [20]:
a = int(input())
b = input()
for i in b[::-1]: # 문자열 뒤에서부터
  print(a*int(i))
print(int(b)*a)

472
385
2360
3776
1416
181720

In [21]:
a = int(input())
b = input()
for i in reversed(b): # 문자열 뒤에서부터
  print(a*int(i))
print(int(b)*a)

472
385
2360
3776
1416
181720

#1138. 꼬마 정민

In [23]:
# A+B+C의 값을 출력한다.
a, b, c= map(int, input().split())
print(a +b + c)

7 77 7777
7861

#10171. 고양이

In [32]:
# \    /\
#  )  ( ')
# (  /  )
#  \(__)|
print("\\    /\\")
print(" )  ( ')")
print("(  /  )")
print(" \(__)|")

\    /\
 )  ( ')
(  /  )
 \(__)|

#10172. 개

In [40]:
# |\_/|
# |q p|   /}
# ( 0 )"""\
# |"^"`    |
# ||_/=\\__|

print("|\_/|")
print("|q p|   /}")
print("( 0 )\"\"\"\\")
print("|\"^\"`    |")
print("||_/=\\\__|")

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|