<a href="https://colab.research.google.com/github/MingyuKIM615/BaekJoon/blob/master/%ED%8C%8C%EC%9D%B4%EC%8D%AC/%EC%A1%B0%EA%B1%B4%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1330. 두 수 비교하기
 첫째 줄에 다음 세 가지 중 하나를 출력한다.

* A가 B보다 큰 경우에는 '>'를 출력한다.
* A가 B보다 작은 경우에는 '<'를 출력한다.
* A와 B가 같은 경우에는 '=='를 출력한다.

In [2]:
a, b= map(int, input().split())

if a>b:
  print(">")
elif a == b:
  print("==")
else:
  print("<")

1 2
<

#9498. 시험 성적
시험 점수를 입력받아 90 ~ 100점은 A, 80 ~ 89점은 B, 70 ~ 79점은 C, 60 ~ 69점은 D, 나머지 점수는 F를 출력하는 프로그램을 작성하시오.

In [5]:
a = int(input())

if a>=90:
  print("A")
elif a>=80:
  print("B")
elif a>=70:
  print("C")
elif a>=60:
  print("D")
else:
  print("F")

100
A

# 2753. 윤년
첫째 줄에 윤년이면 1, 아니면 0을 출력한다.

In [7]:
# 윤년은 연도가 4의 배수이면서, 100의 배수가 아닐 때 또는 400의 배수일 때이다.

a = int(input())

if a%4==0 and (a%100 != 0 or a%400==0):
  print("1")
else:
  print("0")

2012
1

# 14681. 사분면 고르기
* 입력 : 첫 줄에는 정수 x가 주어진다. (−1000 ≤ x ≤ 1000; x ≠ 0) 다음 줄에는 정수 y가 주어진다. (−1000 ≤ y ≤ 1000; y ≠ 0)

* 출력 : 점 (x, y)의 사분면 번호(1, 2, 3, 4 중 하나)를 출력한다.

In [ ]:
x = int(input())
y = int(input())

if x>0 and y > 0:
  print(1)
elif x>0 and y<0:
  print(4)
elif x<0 and y>0:
  print(2)
elif x<0 and y<0:
  print(3)

# 2884. 알람 시계

In [14]:
h, m = map(int, input().split())

if m >= 45:
  m =m- 45
else:
  m = m+15
  if h==0:
    h = 23
  else:
    h= h - 1


print(h, m)

23 45
23 0

# 2525. 오븐 시계

In [21]:
#훈제오리구이를 시작하는 시각과 오븐구이를 하는 데 필요한 시간이 분단위로 주어졌을 때,
#오븐구이가 끝나는 시각을 계산하는 프로그램을 작성하시오.

h, m = map(int, input().split())
t = int(input())

if t + m < 60:
  m = t+m
else:
  a = (t+m)//60 # 몫
  m = (t+m) % 60 # 나머지
  if a + h < 24:
    h = a+h
  else:
    h = a + h -24
print(h, m)

23 48
12
0 0

In [29]:
# 위 코드 개선

# 받는 법은 동일
h, m = map(int, input().split())
t = int(input())

# 시간 : (시작 시간의 시간) + (주어진 시간(분)+ 시작 시간의 분을 60으로 나눴을 때 몫) => 24로 나눴을 때 나머지
h = (h + (m+t)//60) % 24

# 분 : 시작 시간의 분 + 주어진 시간(분) => 이 값에서 60으로 나눴을 때 나머지
m = (t + m)% 60 # 나머지

# 구한 시간, 분 출력
print(h, m)

23 40
20
0 0

# 2480. 주사위 세개
* 같은 눈이 3개가 나오면 10,000원+(같은 눈)×1,000원의 상금을 받게 된다.
* 같은 눈이 2개만 나오는 경우에는 1,000원+(같은 눈)×100원의 상금을 받게 된다.
* 모두 다른 눈이 나오는 경우에는 (그 중 가장 큰 눈)×100원의 상금을 받게 된다.

In [33]:
a,b,c = map(int, input().split())

if a != b and a != c and b !=c: # 모두 다른 눈이 나오는 경우
  print(max(a, b, c) * 100)
elif a== b and b == c: # 같은 눈이 3개 나오는 경우
  print(10000 + a*1000)
else:
  if a==b:
    print(1000 + a*100)
  else:
    print(1000 + c*100)

2 2 3
1200