<a href="https://colab.research.google.com/github/MingyuKIM615/BaekJoon/blob/master/%EA%B8%B0%EB%B3%B8_%EC%88%98%ED%95%991.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 손익분기점(1712)

In [ ]:
A, B, C = map(int, input().split())

if B >= C:
  print(-1)
else:
  cnt = int(A / (C-B))
  print(cnt)

1000 70 170
11

# 벌집(2292)

In [ ]:
N = int(input())
i = 0
j = 1
while True:
  j += 6*i
  if N <= j:
    print(i+1)
    break
  i+=1

1
1

# 달팽이는 올라가고 싶다(2869)

In [ ]:
import math
A, B, C = map(int, input().split())

day = math.ceil((C - A) / (A - B)) + 1

print(day)

100 99 1000000000
999999901

# ACM 호텔(10250)

In [ ]:
T = int(input())

for i in range(T):
  H, W, N = map(int, input().split())
  k = 0
  l = 0
  if N % H == 0:
    l = H
    k = int(N / H)
  else:
    l = N % H
    k = int(N / H) + 1
  roomNumber = l * 100 + k
  print(roomNumber)

2
6 12 12
602
6 12 13
103

# 부녀회장이 될테야(2775)

In [ ]:
T = int(input())

for _ in range(T):
  k = int(input())
  n = int(input())
  floor_zero = [i for i in range(1, n+1)]
  floor_n = [0 for i in range(1, n+1)]
  result = 0
  if n == 1:
    result = 1
  elif k == 1:
    result = sum(floor_zero[:n])
  else:
    for _ in range(k-1):
      for j in range(1, n+1):
        floor_n[j-1] = sum(floor_zero[:j])
      floor_zero = floor_n[:]
    result = sum(floor_n)
  
  print(result)

1
2
3
10

# 설탕 배달(2839) ***

In [ ]:
N = int(input())

cnt = 0
while N >= 0:
  if N % 5 == 0:
    cnt += int(N / 5)
    print(cnt)
    break
  N -= 3
  cnt +=1
else:
  print(-1)

44
10

# 큰 수 A+B(10757)

In [1]:
A, B = map(int, input().split())

print(A + B)

9223372036854775807 9223372036854775808
18446744073709551615