<a href="https://colab.research.google.com/github/MingyuKIM615/BaekJoon/blob/master/%EC%A0%95%EB%A0%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 수 정렬하기(2750)

In [ ]:
N = int(input())
list_num = []
for _ in range(N):
  list_num.append(int(input())) # 배열에 값 넣기

list_num.sort() # 배열 정렬

for i in list_num:
  print(i)

3
3
2
1
[3, 2, 1]
1
2
3

# 수 정렬하기 2(2751)

In [ ]:
# pypy3로 제출
N = int(input())
list_num = []
for _ in range(N):
  list_num.append(int(input())) # 배열에 값 넣기
lost_num = sorted(list_num)
for i in range(N):
  print(lost_num[i])

5
1
2
4
3
5
1
2
3
4
5

# 수 정렬하기3(10989)

In [ ]:
import sys

n = int(sys.stdin.readline())
num_list = [0] * 10001

for _ in range(n):
    num_list[int(sys.stdin.readline())] += 1

for i in range(10001):
    if num_list[i] != 0:
        for j in range(num_list[i]):
            print(i)

4

AttributeError: ignored

# 통계학(2108)

In [ ]:
from collections import Counter
import sys
n = int(sys.stdin.readline())

list_num = []

for _ in range(n):
  list_num.append(int(sys.stdin.readline()))

list_num.sort()
cnt = Counter(list_num).most_common(2)

print(round(sum(list_num) / len(list_num))) # 평균
print(list_num[n//2]) # 중앙값

if len(list_num) > 1:
  if cnt[0][1] == cnt[1][1]:
    print(cnt[1][0])
  else:
    print(cnt[0][0])
else:
  print(cnt[0][0])

print(max(list_num) - min(list_num)) # 범위

5
1
3
8
-2
2
2
2
1
10

In [ ]:
from collections import Counter

list_num = [1,3,8,-2,2]
list_num.sort()
cnt = Counter(list_num).most_common(2)
print(cnt)
print(cnt[0][0])
print(cnt[1][0])

[(-2, 1), (1, 1)]
-2
1

# 소트인사이드(1427)

In [ ]:
N = input()

list_num = []

for i in N:
  list_num.append(int(i))

list_num.sort(reverse=True)

result = ''
for i in list_num:
  result +=str(i)
print(result)

3213
[3, 3, 2, 1]
3321

# 좌표 정렬하기(11650)

In [ ]:
n = int(input())

list_num = []

for _ in range(n):
  list_num.append(list(map(int,input().split())))

list_num.sort()


for i in list_num:
  print(i[0], i[1])

5
3 4
1 1
1 -1
2 2
3 3
1 -1
1 1
2 2
3 3
3 4

# 좌표 정렬하기 2(11651)

In [ ]:
n = int(input())

list_num = []

for _ in range(n):
  list_num.append(list(map(int, input().split())))

list_num.sort(key=lambda x : (x[1], x[0]))

for i in list_num:
  print(i[0], i[1])

4
1 -1
1 2
2 2
3 3
0 4

# 단어 정렬(1181)

In [ ]:
n = int(input())

list_word = []

for _ in range(n):
  list_word.append(input())

list_word = list(set(list_word))

list_word.sort(key = lambda x : (len(x), x))

for i in list_word:
  print(i)

In [ ]:
list_word = ['but', 'i', 'wont', 'hesitate', 'no', 'more', 'no', 'it', 'cannot', 'wait', 'im', 'yours']

list_word = list(set(list_word))

list_word.sort(key = lambda x : (len(x), x))

for i in list_word:
  print(i)

i
im
it
no
but
more
wait
wont
yours
cannot
hesitate

# 나이순 정렬(10814)

In [ ]:
n = int(input())

list_num = []

for _ in range(n):
  list_num.append(input().split())

list_num.sort(key=lambda x : int(x[0]))

for i in list_num:
  print(i[0], i[1])

3
21 Junkyu
21 Dohyun
20 Sunyoung
20 Sunyoung
21 Junkyu
21 Dohyun

# 좌표 압축(18870)

In [24]:
import sys
n = int(input())

numbers = list(map(int, sys.stdin.readline().rstrip().split()))

numset = set(numbers)
a = list(numset)
a.sort()

numdict = {}
for i in range(len(a)):
    numdict[a[i]] = i

for i in numbers:
    print(numdict[i], end=' ')

3
1
2
1
0 1 0